@using Microsoft.AspNet.Identity
@using PureSmileUI.Controllers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav pull-right">
            <li class="dropdown pull-right">                
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                    <i class="fa fa-user"></i> @User.Identity.GetUserName() <b class="caret"></b>
                </a>
              <!-- Dropdown menu -->
                <ul class="dropdown-menu">
                  <li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> Profile</a></li>
                  <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav pull-right">
        @if (ViewBag.IsClientUrl == true)
        {
            <li class="pull-right"><a href="~/Account/Register" aria-expanded="false">Register</a></li>
        }
        <li class="pull-right"><a href="~/Account/Login" aria-expanded="false">Login</a></li>
    </ul>
}
