@{
    ViewBag.Title = "Notification emails";
}
@section Scripts
{
    <script src="@Url.Content("~/AppScripts/notificationList.js")"></script>
}
<div class="page-head">
    <h2 class="pull-left">
        <label>My notifications</label>
    </h2>
    <div class="clearfix"></div>
</div>
<div class="matter">
    <div class="widget">
        <div class="widget-head">Filters</div>
        <div class="widget-content">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <td class="va-center text-right">Text:</td>
                        <td class="va-center"><input type="text" id="txtSearch" class="form-control" placeholder="search in subject or body" /></td>
                    </tr>
                    <tr>
                        <td class="va-center text-right">Received on:</td>
                        <td class="va-center">
                            <div id="datetimepickerFrom" class="input-append input-group dtpicker">
                                <input type="text" id="txtFromDate" class="form-control" data-format="yyyy-MM-dd" placeholder="from" />
                                <span class="input-group-addon add-on">
                                    <i data-time-icon="fa fa-times" data-date-icon="fa fa-calendar" class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="va-center"></td>
                        <td class="va-center">
                            <div id="datetimepickerTo" class="input-append input-group dtpicker">
                                <input id="txtToDate" type="text" class="form-control" data-format="yyyy-MM-dd" placeholder="to" />
                                <span class="input-group-addon add-on">
                                    <i data-time-icon="fa fa-times" data-date-icon="fa fa-calendar" class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="va-center"></td>
                        <td class="va-center">
                            <a href="#" class="btn btn-info btn-sm" onclick="Search(); return false;">Search</a>
                            <a href="#" class="btn btn-default btn-sm" onclick="Clear(); return false;">Clear</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="jqGrid" class="table-condensed"></table>
        <div id="pager"></div>
    </div>
</div>
<script type="text/javascript">
    var GetNotificationList = '@Url.Action("GetNotificationList")';
</script>