
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookingLoading</title>
    <script type="text/javascript">
        $.showprogress();
        console.log("ok");
        document.location = '/Booking/ModalBookingEdit/0';
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
