
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
  <div class="alert alert-success">You've confirmed booking.</div>
  <div class="clearfix"></div>
</div>
<div class="matter">
</div>
